<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test verbose="2" preserve-order="true" name="Test_1">
        <classes>
            <class name="pageTest.OderCompleteTest">
                <methods><include name="end2EndTest"/></methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test_2">
        <classes>
            <class name="pageTest.AddRemoveItemTest">
                <methods><include name="end2EndTest"/></methods>
            </class>
        </classes>
    </test>
</suite>